extends layout

block content
	.container
		.row
			.col.s6.m4
					.card-panel.teal
						span.white-text
							| Votre réservation a bien était prise en compte,
							| votre taxi #{taxi} se dirige vers vous.
							| Merci d'utiliser nos service.
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br