extends layout

block content
	#index-banner.section.no-pad-bot
			.container
				br
				br
				h1.header.center.orange-text Le Taxi
				.row.center
					h5.header.col.s12.light Retrouver le taxi proche de vous
				.row.center
					a#download-button.btn-large.waves-effect.waves-light.orange(href='/taxis') Trouver
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
		br
	

