extends layout

block content
    section#banner
      .inner
        h2 le Taxi
        p Retrouver un taxi proche de vous 
        ul.actions
          li
            a.button.big.scrolly(href='#one') Trouver
    

